<!-- Copyright (c) 2020-2025, RTE (http://www.rte-france.com)              -->
<!-- See AUTHORS.txt                                                       -->
<!-- This Source Code Form is subject to the terms of the Mozilla Public   -->
<!-- License, v. 2.0. If a copy of the MPL was not distributed with this   -->
<!-- file, You can obtain one at http://mozilla.org/MPL/2.0/.              -->
<!-- SPDX-License-Identifier: MPL-2.0                                      -->
<!-- This file is part of the OperatorFabric project.                      -->

<br/>
<div class="opfab-input">
    <label for="taskDescription"> TASK DESCRIPTION</label>
    <input size="50" type="text" id="taskDescription" value="{{card.data.taskDescription}}"> </input> 
</div>
<br/>

<script>

    userCardTemplate = {

        init: function() {
            this.initSeverity();
            this.initInitialDates();
            this.initUserCardTemplateGateway();
        },

        initSeverity: function() {
            opfab.currentUserCard.setInitialSeverity('ACTION');
        },

        initInitialDates: function() {
            const mystartDate = new Date();
            mystartDate.setTime(mystartDate.getTime());
            opfab.currentUserCard.setInitialStartDate(mystartDate.getTime() + 3600000);
            opfab.currentUserCard.setInitialEndDate(mystartDate.getTime() + 3600000 + 7 * 24 * 3600000);
        },

        initUserCardTemplateGateway: function() {

            opfab.currentUserCard.registerFunctionToGetSpecificCardInformation( () => {
                const taskDescription = document.getElementById('taskDescription').value;

                const card = {
                    summary: { key: "task.summary" },
                    title: { key: "task.title" },
                    data: {
                        taskDescription: taskDescription
                    }
                };

                const timeSpans = [{
                    startDate: opfab.currentUserCard.getStartDate(),
                    endDate: opfab.currentUserCard.getEndDate(),
                }]
                

                return {
                    valid: true,
                    card: card,
                    timeSpans: timeSpans
                };

            });
        }
    }

    userCardTemplate.init();

</script>
